
li {
	background-color: #E6E6E6;
    margin-bottom: 5px;
   	padding: 2px;
	
}

p {
	margin: 1px;
}

ul {
	display: inline;
	list-style-type: none;
}

ul li .edit {
	display: none;
}

ul li.edit .edit{
	display: initial;
}

ul li.edit .noEdit{
	display: none;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

label {
	display: block;
	width: 200px;
	float: left;
}

button{
	margin: 2px;
}

.buttons{
    margin:0 auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.task, .dateTime, .at{
	color: #060606;
	font-size: 150%;
}

.task, .dateTime {
	text-shadow: 1px 1px #0B615E;
}

.newTask h4 {
	margin: 10px;
	text-align: center;
	
}

.newTask {
	background-color: #E6E6E6;
    margin:0 auto;
   	padding: 2px;
   	display:block;
	overflow:auto;
	width: 380px;
}

.at{
	font-style: italic;
}